* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutMe {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#name {
  display: flex;
  justify-content: center;
}
.line {
  width: 75% !important;
  height: 7px !important;
  margin-left: 13%;
  border-radius: 10px;
}

.me {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.navbar {
  width: 37% !important;
  margin-left: 31.5%;
  height: 120px;
  border-radius: 12px;
  background-color: rgb(22, 22, 22) !important;
}

.nav {
  margin-top: 25px;
}

.card {
  background-color: rgba(240, 248, 255, 0.437) !important;
}

a {
  text-decoration: none;
  color: rgb(114, 114, 114);
}

.active {
  transform: scale(1.1);
  color: rgb(255, 85, 0);
}

.home {
  display: flex;
  justify-content: center;
  height: 60%;
}

.image-home {
  margin-top: 100px;
  margin-left: 13px;
  width: 230px;
  height: 220px;
  border-radius: 50%;
}

#root {
  background-image: url("https://images.pexels.com/photos/2150/sky-space-dark-galaxy.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  /* background-color: rgb(255, 255, 255); */
  background-size: cover;
  height: 150vh;
}

h4 {
  color: rgb(238, 116, 16);
  margin-left: 100px;
}

.box {
  width: 50% !important;
  border: 2px solid black !important;
  border-radius: 10px;
  background-color: rgba(250, 247, 247, 0.239) !important;
}

h2 {
  margin-left: 20px;
  margin-top: 35px;
  color: rgb(238, 116, 16);
  font-family: cursive;
}
e {
  background-color: rgb(222, 222, 222);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}

.btn {
  height: 5%;
  margin-top: 15px;
  background-color: rgba(255, 255, 255, 0.355);
  border-radius: 15px;
  border: 1px solid rgb(88, 88, 88);
  color: rgb(136, 136, 136);
}

/* #btn:hover {
  color: rgb(238, 116, 16);
} */

.link {
  color: rgb(53, 52, 52);
}

.link:hover {
  color: rgb(238, 116, 16);
}
